name: Git Whitespace Check Workflow

on:
  push:
    branches: 
      - develop
    paths-ignore:
      - 'docs/**'
      - '.github/**'
  pull_request:
    branches: [ develop ]
  workflow_dispatch:

jobs:
  check_whitespace_dispatch:
    name: Check Git whitespace
    uses: Mu2e/.github/.github/workflows/git-whitespace.yml@stable
    with:
      against-ref: ${{ github.event_name == 'pull_request' && github.event.pull_request.base.sha || github.event_name == 'push' && github.event.before || 0 }}
